<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>P3159 - @ViewBag.Title</title>

    <environment names="Development">
        <link asp-href-include="~/css_copy/*.css" rel="stylesheet" />
    </environment>

    <environment names="Staging,Production">
        <link asp-href-include="~/css_min/*.css" rel="stylesheet" />
    </environment>

</head>

<body>
    <div>

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0">
            <div class="navbar-header">
                <div class="navbar-brand">My Fish Tank</div>
            </div>
            <img src="~/img/goldfish.png" height="50" width="1000" alt="Goldfish background" class="fa-pull-right" asp-append-version="true" />
        </nav>

        @RenderBody()

    </div>


    <environment names="Development">
        <script asp-src-include="~/js_copy/*.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script asp-src-include="~/js_min/site.min.js"></script>
    </environment>


    @RenderSection("Scripts", required: false)


</body>
</html>
